.wrapped {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.viewPrice, button, .reschedule {
    cursor: pointer;
}

.headModal {
    display: flex;
    justify-content: flex-start;
}

.modalHeadContent {
    margin-left: 1rem;
    align-self: flex-end;
}

.bodyModal {
    padding: 2em 0;
}

.modalBtn {
    text-align: center;
}

.calendar {
    display: flex;
}

.ui.secondary.pointing.menu .active.item {
    border-color: #83A515 !important;
    color: #83A515 !important;
}

.ui.secondary.pointing.menu .item {
    color: #556789 !important;
}

.ui.table thead th {
    color: #556789;
}

.ui.table tr td {
    color: #7788A3;
}